<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>Machine Learning APIs</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>

  <div class="login">
    <h1>1. Rest APIs Health check</h1>

    <form action="{{ url_for('get_healthcheck')}}"method="get">
        <button type="submit" class="btn btn-primary btn-block btn-large">Health Check</button>
    </form>

    <br>
    <br>
    {{ prediction_text }}

  </div>
  <br/>
  <div class="login">
    <h1>2. Automatic Ticket Assignment</h1>
    <h3>Short Description or Description is mandatory</h3>
  
       <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('ticket_assignment')}}"method="post">
        <b>Short Description:: </b><input type="text" size="50" name="short_desc" placeholder="Enter a Short Description" /><br /><br />
        <b>Description:: </b><input type="textarea" size="100" name="desc" placeholder="Enter the long description" /><br /><br />
        <b>Login Name::  </b><input type="text" size="30" name="username" placeholder="Provide your User Name" required="required" /><br /><br />
        <button type="submit" class="btn btn-primary btn-block btn-large">Assign Group</button>
      </form>
  
     <br>
     <br>
     {{ prediction_text }}
  
   </div>
 <br/>
 <br/>
 <br/>
 <div class="login">
	<h1>3. Sentiment Analysis</h1>

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('SentimentAnalysis')}}"method="post">
    	<input type="text" name="comment" placeholder="Please enter your comment" size="50" required="required" />
        <button type="submit" class="btn btn-primary btn-block btn-large">Get Result</button>
    </form>

   <br>
   <br>
   {{ result_text }}

 </div>


</body>
</html>