<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>NLP - Automatic Ticket Assignment</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  
</head>

<body>
  <center><h1>Automatic Ticket Assignment - Model Deployment</h1></center>

  <div class="login">
    <h2>Rest Services Health check</h2>
    <form action="{{ url_for('get_healthcheck')}}"method="get">
        <button type="submit" class="btn btn-primary btn-block btn-large">Health Check</button>
        <input type="hidden" name="mode" value="gui">
    </form>
    <br>
    <b>{{ health_text }}</b>

  </div>
  <br/>
  <div class="login">
    <h2>Input Ticket Data/Features</h2>
    <h5>* Short Description or Description is mandatory</h5>
  
       <!-- Main Input For Receiving Query to our ML -->
      <form action="{{ url_for('ticket_assignment')}}"method="post">
        <input type="text" size="50" name="short_desc" placeholder="Enter a Short Description" /><br /><br />
        <input type="text" size="100" name="desc" placeholder="Enter the long description" /><br /><br />
        <input type="text" size="30" name="username" placeholder="Provide your User Name" required="required" /><br /><br />
        <button type="submit" class="btn btn-primary btn-block btn-large">Create Ticket</button>
        <input type="hidden" name="mode" value="gui">
      </form>
     <br>
     <b>{{ prediction_text }}</b>
  
   </div>
 
</body>
</html>